.o-uao-profile-description .o-uao-mark h3{
    text-align: left;
    color: #8093be;
    font-weight: 600;
    font-size: 20px;
}

.o-uao-profile-description .o-uao-info h4{
    text-align: left;
    color: #000;
    font-weight: 200;
    font-size: 20px;
}
