.o-uao-repository-description{
    position: relative;
    z-index: 1;
    width: 377px;

    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    top: 6.2em;
    color: black;
}
