.o-uao-repository-general-title{
    position: relative;
    z-index: 1;
    width: 377px;
    
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
    color: black;
    top: 4.8em;
}